*{
  margin: 0;
  padding: 2%;
  background-color: white;
  font-family: Arial, sans-serif;
  box-sizing: border-box; /**to make padding grow within the block*/
}
html, body {
    width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: darkgrey;
  color: white;
  padding: 20px;
  border-color: red;
  width: auto;
  height: 50%;
}
.newsitem{
  background-color: slategray;
}
div > div {
  background-color: lightgrey;
  font-size: 3vh;
}
